# Dependencies
node_modules/
.pnp
.pnp.js

# Testing / Scratch
coverage/
.system_generated/
scratch/

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
*.local

# Debug / Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
